@import '../../../utils/colors';

.uploader {
  max-height: 300px;
  width: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  border: 1px solid $font-color;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $font-color;
    font-size: 1.2rem;
  }
  &__close {
    padding: 3px;
  }
}


.upload-file {
  border: 1px solid $font-color;
  border-radius: 8px;
  margin: 5px 0;
  padding: 5px 10px;
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__progress-bar {
    height: 1rem;
    border-radius: 8px;
    display: flex;
    margin: 3px 0;
  }

  &__upload-bar {
    background-color: $font-color;
    border-radius: 8px;
  }
  &__percent {
    left: 50%;
    color: #fff;
    position: absolute;
  }
}