@import '../../utils/colors';

.navbar {
  display: flex;
  height: 50px;
  justify-content: center;
  background-color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid $font-color;
  &__logo {
    text-transform: uppercase;
    margin-left: 16px;
  }
  &__login {
    margin-left: 25px;
    margin-right: 27px;
  }
  &__search{
    width: 200px;
    margin-left: 30px;
  }
  &__right{
    margin-left: auto;
    display: flex;
  }
}

.container {
  width: 1140px;
  display: flex;
  align-items: center;
}
